<a href="https://colab.research.google.com/github/nehana4sph/RIO-210-Build-a-Classification-Model-for-Drug-Trials-Dataset-Batch-01/blob/main/Drug_Classification_Using_Random_Forest_Classifier_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
##loading dataset
drug_data = pd.read_csv('/content/drug200.csv')
drug_data

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [4]:
##Data preprocessing
drug_data.shape

(200, 6)

In [5]:
drug_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [6]:
drug_data.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [7]:
drug_data['Drug'].unique()

array(['DrugY', 'drugC', 'drugX', 'drugA', 'drugB'], dtype=object)

In [8]:
drug_data['Sex'].unique()

array(['F', 'M'], dtype=object)

In [9]:
drug_data['BP'].unique()

array(['HIGH', 'LOW', 'NORMAL'], dtype=object)

In [10]:
drug_data['Cholesterol'].unique()

array(['HIGH', 'NORMAL'], dtype=object)

In [11]:
#rename the feature
drug_data.rename(columns = {'Sex':'Gender'}, inplace = True)

In [12]:
drug_data.head()

   Age Gender      BP Cholesterol  Na_to_K   Drug
0   23      F    HIGH        HIGH   25.355  DrugY
1   47      M     LOW        HIGH   13.093  drugC
2   47      M     LOW        HIGH   10.114  drugC
3   28      F  NORMAL        HIGH    7.798  drugX
4   61      F     LOW        HIGH   18.043  DrugY

In [13]:
drug_data.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

In [14]:
drug_data.columns

Index(['Age', 'Gender', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [15]:
##Label Encoding
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
drug_data['Gender'] = label_encoder.fit_transform(drug_data['Gender'])
drug_data['BP'] = label_encoder.fit_transform(drug_data['BP'])
drug_data['Drug'] = label_encoder.fit_transform(drug_data['Drug'])
drug_data['Cholesterol'] = label_encoder.fit_transform(drug_data['Cholesterol'])

In [16]:
drug_data.head(15)

    Age  Gender  BP  Cholesterol  Na_to_K  Drug
0    23       0   0            0   25.355     0
1    47       1   1            0   13.093     3
2    47       1   1            0   10.114     3
3    28       0   2            0    7.798     4
4    61       0   1            0   18.043     0
5    22       0   2            0    8.607     4
6    49       0   2            0   16.275     0
7    41       1   1            0   11.037     3
8    60       1   2            0   15.171     0
9    43       1   1            1   19.368     0
10   47       0   1            0   11.767     3
11   34       0   0            1   19.199     0
12   43       1   1            0   15.376     0
13   74       0   1            0   20.942     0
14   50       0   2            0   12.703     4

In [17]:
drug_data['Drug'].unique()

array([0, 3, 4, 1, 2])